[workspace]
resolver = "3"
default-members = ["crates/kenobi"]
members = ["./crates/*"]

[workspace.package]
keywords = ["authentication", "kerberos", "ntlm", "gssapi", "sspi"]
authors = ["Niclas Klugmann <niclas@klugmann.de>"]
license = "MIT"
version = "0.2.0"
edition = "2024"
